h1 {
    color:white;
}

p {
    font-family:verdana;
    font-size: 20px;
}
body  {
    background-image:url("https://hdbackgroundspot.com//storage/upload/cool-background-pictures/cool-background-pictures-31.jpg");
}

